HexadecimalService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://control/" xmlns:tns="http://control/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="decimalParaHexa" type="tns:decimalParaHexa"/>

  <xs:element name="decimalParaHexaResponse" type="tns:decimalParaHexaResponse"/>

  <xs:complexType name="decimalParaHexa">
    <xs:sequence>
      <xs:element name="valor" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="decimalParaHexaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

